<div class="row">
    <div class="col-6">
        <h2>Ratings movies</h2>
    </div>   
</div>
<hr />
<div *ngIf="loading" class="row text-center animated FadeIn">
    <div class="col">
        <i class="fas fa-spinner fa-spin fa-2x"></i>
    </div>
</div>
<table *ngIf="!loading" class="table table-striped bg-light">    
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Movie</th>
            <th scope="col">Release date</th>
            <th scope="col">Genre</th>
            <th scope="col">Rating</th>
            <th></th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movie of ratings; let i = index" style="vertical-align: middle;">
            <th>{{ i + 1 }}°</th>
            <td>{{ movie.movie[0].title }}</td>
            <td>{{ movie.movie[0].release_date | date: 'dd/MM/YYYY' }}</td>
            <td>{{ movie.movie[0].genre }}</td>
            <td><star-rating
                [value]="movie.avgRating"
                [totalstars]="5"
                checkedcolor="red"
                uncheckedcolor="grey"
                size="25px"
                [readonly]="true">
              </star-rating>
            </td>  
            <td><button class="btn btn-outline-danger" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Vote" (click)="newVote(movie)"><i class="fas fa-star"></i></button></td>         
        </tr>
    </tbody>
</table>

