<div class="limiter animated fadeInLeft">
    <div class="container-login100 back-color-wh">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form (ngSubmit)="registerUser(f)"
                    #f = "ngForm"
                    class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                    Create new account
                </span>
                
                <span *ngIf="f.submitted && f.controls['email'].errors"
                        class="text-danger animated fadeIn">Email is required</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" 
                           type="text" 
                           name="email"
                           required
                           [(ngModel)]="user.email"
                           placeholder="Email">

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted && f.controls['name'].errors"
                        class="text-danger animated fadeIn">Name is required</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" 
                           type="text" 
                           name="name"
                           required
                           [(ngModel)]="user.name"
                           placeholder="Name">

                    <span class="focus-input100"></span>
                </div>
                
                <span *ngIf="f.submitted && f.controls['password'].errors"
                        class="text-danger animated fadeIn">Password must be at least 6 characters </span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100"
                           type="password" 
                           name="password"
                           minlength="6" 
                           required
                           [(ngModel)]="user.password"
                           placeholder="Password">
                    <span class="focus-input100"></span>
                </div>
                
                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="col-12 text-center">
                        <a [routerLink]="['/login']" class="txt1" >                        
                            ¿Have you an account? / Sign in
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                        Create account
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>


